.row
  .col-lg-3
    =image_tag("rss.jpeg")
  .col-lg-6
    %h3.form-centered Wybierz swój instytut
    = simple_form_for :institute, html: { class: 'form-horizontal form-centered' } do |f|
      .inputs
        = f.input :id, collection: @institutes,  label: false #'Instytuty/Katedry' , label_html: { :class => "big-label" }# , label: false#, label: 'Instytuty/Katedry'
      .action
        = f.button :submit, "Dalej", class: 'btn btn-primary'



