.row
  .col-lg-3
    =image_tag("RSSlogo1.png")
  .col-lg-6
    -unless flash[:success] == "Dziękujemy za udział w ankiecie!"
      %h3.form-centered Wybierz swój instytut
      = simple_form_for :institute, html: { class: 'form-horizontal form-centered' } do |f|
        .inputs
          = f.input :id, collection: @institutes,  label: false, :include_blank => false#'Instytuty/Katedry' , label_html: { :class => "big-label" }# , label: false#, label: 'Instytuty/Katedry'
        .action
          = f.button :submit, "Dalej", class: 'btn btn-primary'
  .col-lg-3
    =image_tag("UAMlogo1.png")



