.row
  .col-lg-8.col-lg-offset-2.form-centered
    %h3 Odpowiedz na poniższe pytania
.row{:style => "margin-top: 40px"}
  .col-lg-8.col-lg-offset-2.form-centered
    =bootstrap_form_for @form, :method => :post, :url => forms_path do |f|
      .inputs#questions_inputs
        =hidden_field_tag(:institute_id, @institute.id)
        =f.fields_for :votes do |g|
          -q = @questions.shift
          =g.collection_select :id, @lecturers.order(:lastname, :firstname), :id,  lambda { |lect| "#{lect.title} #{lect.firstname} #{lect.lastname}"  },  label: "#{q['content']}"
          %br
      .actions
        =f.submit "Głosuj", class: "btn btn-lg btn-primary"